---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ADC Team details">
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/team/laugh.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Team Details</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Team Details</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

      <section id="team-2" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row g-5">
  
            <div class="col-lg-8">
  
              <article class="team-details">
  
                
  
                <div class="meta-top">
                  <h2>Devotha Minzi</h2>
                  <p><h4>Director</h4></p>
                </div><!-- End meta top -->
  
                <div class="content">
                  <p class="align">
                    Mrs. Devotha Ntuke Minzi is a director of ADC Tanzania Limited. Devotha possesses a Master’s Degree in Economics, from Youngstown State University, United States of America (1996) and a Bachelor of Sciences majoring statistics, from the University of Dar-Es-Salaam, Tanzania (1984). Devotha also has acquired a Postgraduate Diploma in Poverty Analysis from the Institute of Social Studies (2005).
                  </p>
  
                  
  
                 <!--- <blockquote>
                    <p>
                      Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
                    </p>
                  </blockquote> -->
  
                  <p class="align">
                    Devotha is a Certified Director (July 2016) by the Institute of Directors (IOD) London, UK. Currently she is a Board member of Tanzania Tax Revenue Appeals Board (TRAB), an independent board, responsible with handling Tax disputes between taxpayers’ and Commissioner General of Tanzania Revenue Authority. In addition, Devotha a Chairperson of the K-Finance Board, a micro-finance accredited by the Central Bank of Tanzania (BOT).

                </p>
                <p class="align">Recently, K- Finance was awarded as the Best Female Owned microfinance of the year 2020. In the past, Devotha served as Board member (2015-2018) of CRDB Bank Plc, a leading Financial Services Provider in Tanzania.</p>
                  
  
                <!--  
                  <h3>Et quae iure vel ut odit alias.</h3>
                  <p>
                    Officiis animi maxime nulla quo et harum eum quis a. Sit hic in qui quos fugit ut rerum atque. Optio provident dolores atque voluptatem rem excepturi molestiae qui. Voluptatem laborum omnis ullam quibusdam perspiciatis nulla nostrum. Voluptatum est libero eum nesciunt aliquid qui.
                    Quia et suscipit non sequi. Maxime sed odit. Beatae nesciunt nesciunt accusamus quia aut ratione aspernatur dolor. Sint harum eveniet dicta exercitationem minima. Exercitationem omnis asperiores natus aperiam dolor consequatur id ex sed. Quibusdam rerum dolores sint consequatur quidem ea.
                    Beatae minima sunt libero soluta sapiente in rem assumenda. Et qui odit voluptatem. Cum quibusdam voluptatem voluptatem accusamus mollitia aut atque aut.
                  </p>
                  <img src="assets/img/blog/blog-inside-post.jpg" class="img-fluid" alt="">
  
                  <h3>Ut repellat blanditiis est dolore sunt dolorum quae.</h3>
                  <p>
                    Rerum ea est assumenda pariatur quasi et quam. Facilis nam porro amet nostrum. In assumenda quia quae a id praesentium. Quos deleniti libero sed occaecati aut porro autem. Consectetur sed excepturi sint non placeat quia repellat incidunt labore. Autem facilis hic dolorum dolores vel.
                    Consectetur quasi id et optio praesentium aut asperiores eaque aut. Explicabo omnis quibusdam esse. Ex libero illum iusto totam et ut aut blanditiis. Veritatis numquam ut illum ut a quam vitae.
                  </p>
                  <p>
                    Alias quia non aliquid. Eos et ea velit. Voluptatem maxime enim omnis ipsa voluptas incidunt. Nulla sit eaque mollitia nisi asperiores est veniam.
                  </p>-->
  
                </div><!-- End post content -->
  
                
  
             
          </div>

          <div class="col-lg-4">     
                   <div class="post-img">
              <img src="assets/img/team/devotha.jpg" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-12" style="margin-top: 0px;">
            <p class="align">
              She also saved as a member of the Board of Habitat for Humanity Tanzania (HFHT), a Non-Government Organization with an international affiliation involved with provision of micro housing Finance (2013-2019).
            </p>

<p class="align">
  Devotha’s work experience includes 24 years working for the Central Bank of Tanzania in different positions. She joined the bank as a Statistician and was Senior Economist in the in the Research and Policy Directorate by the time she left the Central Bank. She opted for early retirement with the bank to establish K – Finance Ltd and become the first CEO from 2008-2017. Devotha’s experience is very instrument in the management of ADC Tanzania.

</p>

          </div>
  
        </div>
      </section> 


        </div>
      

  </main><!-- End #main -->
</Layout>