---
import Layout from '../layouts/Layout.astro';
---

<Layout title=">Project details">
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url(assets/img/hero-carousel/hero-carousel-3.jpg);">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Project Details</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Energy Project Details</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Projet Details Section ======= -->
    <section id="project-details" class="project-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

    

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-4">
          <div class="position-relative h-100">
            <div class="slides-1 portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
  
                <div class="swiper-slide">
                  <img src="assets/img/projects/construction-1.jpg" alt="">
                </div>
  
                <div class="swiper-slide">
                  <img src="assets/img/projects/design-1.jpg" alt="">
                </div>
  
                <div class="swiper-slide">
                  <img src="assets/img/projects/remodeling-1.jpg" alt="">
                </div>
  
                <div class="swiper-slide">
                  <img src="assets/img/projects/repairs-1.jpg" alt="">
                </div>
  
              </div>
              <div class="swiper-pagination"></div>
            </div>
            
  
          </div>

        </div>
          <div class="col-lg-6" >
            <div class="portfolio-description" >
              <h2>Ageco Energy Ltd</h2>
              <p class="align">
                Ageco is an energy company based in Dar Es Salaam. Ageco provides reliable and affordable renewable energy solutions for underserved and marginalized urban and rural communities in Tanzania with products and services including designing, installing, and commissioning solar standalone, power backup, and hybrid solar systems for on-grid and off-grid applications.
            </p>
<p class="align">

  Ageco received a grant of over TSH 300 million for the installation of a 32 KW gasifier plant in Magungumka Village, a rice-farming community. The biomass gasifier is powered by rice husks, providing power to 200 households and businesses. With unwavering technical support from ADC Tanzania, Ageco has seen measurable success from their project.
</p>              

            <!--  <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <div>
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                </div>
              </div> -->

              

            </div>
          </div>

          <div class="col-lg-2">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong> <span>Energy</span></li>
                <li><strong>Status</strong> <span>Completed</span></li>
                <li><strong>Location</strong> <span>Dar/Singida</span></li>
                
               
              </ul>
            </div>
          </div>

        

      </div>
    </section><!-- End Projet Details Section -->


    <section id="project-details" class="project-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
      

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-4">
            <div class="position-relative h-100">
              <div class="slides-1 portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
    
                  <div class="swiper-slide">
                    <img src="assets/img/projects/galaxy-1.JPG" alt="">
                  </div>
    
                  <div class="swiper-slide">
                    <img src="assets/img/projects/galaxy-2.JPG" alt="">
                  </div>
    
                  <div class="swiper-slide">
                    <img src="assets/img/projects/galaxy-3.JPG" alt="">
                  </div>
    
                  <div class="swiper-slide">
                    <img src="assets/img/projects/galaxy-4.JPG" alt="">
                  </div>
    
                </div>
                <div class="swiper-pagination"></div>
              </div>
              
    
            </div>
            </div>

          <div class="col-lg-6">
            <div class="portfolio-description" >

              <h2>Galaxy Energy ltd</h2>
              <p class="align">
                Galaxy Energy Solutions Limited is a Tanzania company that deals with Solar Systems installations for different applications: Solar Lighting- for residence homes, schools, and health facilities, Solar Water Pumping- For institutions, private homes, and off-grid communities. Power Backup systems- For offices/ businesses.
              </p>

              <p class="align">

                Galaxy Ltd received a grant of more than TSH 300 million for the installation of standalone solar systems and solar water pumping in the small farming villages of Kalamba, Mkanoge, and Tipo in Mkuranga District. The solar mini-grid is connected to one school, one health center, two water pumps, and 150 households, creating access to energy and clean water for 3,500 villagers. ADC has been supporting Galaxy with Advisory services and other technical services.
              </p>

            </div>
          </div>

          <div class="col-lg-2">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong> <span>Energy</span></li>
                <li><strong>Status</strong> <span>Completed</span></li>
                <li><strong>Location</strong> <span>Dar/Pwani</span></li>

                
               
              </ul>
            </div>
          </div>

        

      </div>
    </section><!-- End Projet Details Section -->



    <section id="project-details" class="project-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

       

        <div class="row justify-content-between gy-4 mt-4">


          <div class="col-lg-4"> 
          <div class="position-relative h-100">
            <div class="slides-1 portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
  
                <div class="swiper-slide">
                  <img src="assets/img/projects/lucas1.JPG" alt="">
                </div>
  
                <div class="swiper-slide">
                  <img src="assets/img/projects/lucas2.JPG" alt="">
                </div>
  
                <div class="swiper-slide">
                  <img src="assets/img/projects/lucas3.JPG" alt="">
                </div>
  
                <!--<div class="swiper-slide">
                  <img src="assets/img/lucas2.jpg" alt="">
                </div> -->
  
              </div>
              <div class="swiper-pagination"></div>
            </div>
           
  
          </div>
        </div>

          <div class="col-lg-6">
            <div class="portfolio-description">
              <h2>Lucas Engineering and Management Services(T) Company Ltd</h2>
              <p class="align">
                LEMS Ltd is an energy company offering a range of services in the energy sector. They offer consultancy and management services and install and operate hybrid power units. LEMS has designed and Constructed Wind-Solar Hybrid Systems in Rural Health centers. They have been commissioned to do several studies including “Accounting for sources of Health Hazards induced by the use of Indoors Wood Based Fuel A Case Study of Mbahe Village Moshi District” Department of Energy Engineering, The University of Dar es Salaam” and Evaluation of SIDA-MEM Solar PV project in Tanga, Coast, Kigoma, Dodoma, Mtwara and Morogoro Regions with Energy for Sustainable Development (ESD).
              </p>
              
              <p class="align">

                LEMS was awarded a TSH 300 million grant for the construction of a Construction of 20kW Wind Solar Hybrid System in Mrumba Village Hanang District. ADC Tanzania has been with the company throughout the project assisting in technical support. 
              </p>

            </div>
          </div>

          <div class="col-lg-2">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong> <span>Energy</span></li>
                <li><strong>Status</strong> <span>Completed</span></li>
                <li><strong>Location</strong> <span>Dar/Manyara</span></li>

               
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Projet Details Section -->


    <section id="project-details" class="project-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

      

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-4">

          <div class="position-relative h-100">
            <div class="slides-1 portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
  
                <div class="swiper-slide">
                  <img src="assets/img/tahudee .jpg" alt="">
                </div>
  
                
  
              </div>
              <div class="swiper-pagination"></div>
            </div>
            
  
          </div>
        </div>
          <div class="col-lg-6">
            <div class="portfolio-description">
              <h2>Tanzania Human Development Foundation (TAHUDE)</h2>
              <p class="align">
                TAHUDE is a non-profit organization that benefited from a grant of more than TSH 500 million for the Installation and Maintenance of Bio-digesters, the Establishment of water stations operated by local entrepreneurs through a newly invented water filter called NanofilterTM.  TAHUDE established 89 biodigesters and became a second-leading organization in biogas construction in Tanzania. 
            </p>

              <p class="align">
                ADC Tanzania has supported TAHUDE with technical support throughout the implementation of the project. 
              </p>

            </div>
          </div>

          <div class="col-lg-2">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong> <span>Energy</span></li>
                <li><strong>Status</strong> <span>Completed</span></li>
                <li><strong>Location</strong> <span>Arusha/Manyara</span></li>

                
               
              </ul>
            </div>
          </div>

        

      </div>
    </section><!-- End Projet Details Section -->


  </main><!-- End #main -->
</Layout>