---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ADC Team details">
  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div
      class="breadcrumbs d-flex align-items-center"
      style="background-image: url('assets/img/team/laugh.jpg');"
    >
      <div
        class="container position-relative d-flex flex-column align-items-center"
        data-aos="fade"
      >
        <h2>Team Details</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Team Details</li>
        </ol>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    <section id="team" class="blog">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row g-5">
          <div class="col-lg-4">
            <div class="post-img">
              <img src="assets/img/blog/esther.jpg" alt="" class="img-fluid" />
            </div>
          </div>

          <div class="col-lg-8">
            <article class="team-details">
              <div class="meta-top">
                <h2>ESTHER KITOKA</h2>
                <p><h4>Executive director</h4></p>
              </div><!-- End meta top -->

              <div class="content">
                <p class="align">
                  Esther is a seasoned banker having worked in the banking
                  sector as Bank Examiner for 9 years in the Bank of Tanzania
                  (Central Bank) and later as a commercial banker for 15 years
                  in CRDB Bank Pl where she grew up to the C-suite level as
                  Deputy Managing Director for over 8 years. In May 2020, she
                  joined Equity Bank Tanzania Ltd as Executive Director for
                  special assignment of developing Strategy for turning around
                  the Bank.
                </p>

                <!--- <blockquote>
                  <p>
                    Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
                  </p>
                </blockquote> -->

                <p class="align">
                  Throughout her career, Esther made remarkable achievement as
                  part of the team which transformed CRDB Bank Plc to become the
                  largest bank in the country. As Director of Risk, she was the
                  champion in establishment of enterprise risk management
                  framework and practices in CRDB. She also made other
                  remarkable achievements in the areas of cost management and
                  transformation of cost centers into profit centers through
                  adoption of retail strategy. She was the champion for
                  establishment of performance management system and project
                  management framework. Esther left Equity in January 2022,
                  after making another remarkable achievement by significantly
                  reducing non-performing loans, building strong winning team
                  with the right capabilities, enhancing governance, and
                  developing a Strategy that provides clear direction of the
                  Bank in the coming 3 years. She joined ADC Tanzania Ltd in
                  February 2022 as Director with the responsibility of driving
                  the vision of the company striving to become the partner of
                  choice in business transformation. In addition to banking
                  experience, Esther has developed skills in the areas of
                  Project Management, Risk Management, Analytics, Procurement,
                  HR, Finance and Accounting, IT, Strategy Formulation,
                  Performance Management, Problem Loan Management and Recovery,
                  Corporate Governance, Agile-Scrum Master Framework, General
                  Management and Leadership. She has Master of Commerce Degree
                  in Banking and Business Information System- University of
                  Sydney, Australia, and Certified Public Accountant CPA (T).
                  Other professional qualifications include Directorship from
                  Institute of Directors UK
                </p>
              </div>

              <div class="col-lg-12" style="margin-top: 0px;">
                <p class="align">
                  and Advanced Management Programme (AMP 191) from Harvard
                  Business School.
                </p>
              </div>
            </article>
          </div><!-- End Blog Details Section -->
        </div><!-- End #main -->
      </div>
    </section>
  </main>
</Layout>
