---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ADC Team details">
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/hero-carousel/hero-carousel-11.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Team Details</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Team Details</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->


      <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row g-5">
  
            <div class="col-lg-4">
              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>
            </div>
  
            <div class="col-lg-8">
  
              <article class="team-details">
  
                
  
                <div class="meta-top">
                  
                    <h2>Leonard Kitoka</h2>
                    <p><h4>Director</h4></p>
                    
                  
                </div><!-- End meta top -->
  
                <div class="content">
                  <p class="align">
                    Leonard is the Director of ADC Tanzania Ltd, and currently Programme Director for the implementation of the USADF Programme in Tanzania.  Leonard is also a founding member of both ADC Rwanda and INNOVEX in Tanzania where he is the MD. He is a qualified accountant (CPA-PP), an Accredited European Excellence Assessor, and a Certified Project Manager. He graduated with an MBA in Finance and a B. Com Finance degree, both from the University of Dar es Salaam in Tanzania. Leonard received a “Post Graduate Diploma in Poverty Analysis for Social economic Security and Development” from the Institute of Studies of The Hague. In addition, Leonard has attended other course such an Advanced Leadership course at Harvard Business School, Boston and a Diploma in Project Management from Galilee Institute, Israel.  With 24 years’ experience in providing professional services in Eastern Africa, he has extensive  experience in conducting a wide range of engagements in public and private sectors as well as for donors operating in Tanzania.
                    He has delivered consultancy assignment for such donors as WB, AfDB, FAO, USAID, CDC, UNDP, UNFPA, JICA, GIZ, SIDA, CIDA, UNICEF, AFD, SDC, DFID, DANIDA and EC.

                  </p>
                
  
                  
  
                 <!--- <blockquote>
                    <p>
                      Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
                    </p>
                  </blockquote> -->
  
                 
                <!--  
                  <h3>Et quae iure vel ut odit alias.</h3>
                  <p>
                    Officiis animi maxime nulla quo et harum eum quis a. Sit hic in qui quos fugit ut rerum atque. Optio provident dolores atque voluptatem rem excepturi molestiae qui. Voluptatem laborum omnis ullam quibusdam perspiciatis nulla nostrum. Voluptatum est libero eum nesciunt aliquid qui.
                    Quia et suscipit non sequi. Maxime sed odit. Beatae nesciunt nesciunt accusamus quia aut ratione aspernatur dolor. Sint harum eveniet dicta exercitationem minima. Exercitationem omnis asperiores natus aperiam dolor consequatur id ex sed. Quibusdam rerum dolores sint consequatur quidem ea.
                    Beatae minima sunt libero soluta sapiente in rem assumenda. Et qui odit voluptatem. Cum quibusdam voluptatem voluptatem accusamus mollitia aut atque aut.
                  </p>
                  <img src="assets/img/blog/blog-inside-post.jpg" class="img-fluid" alt="">
  
                  <h3>Ut repellat blanditiis est dolore sunt dolorum quae.</h3>
                  <p>
                    Rerum ea est assumenda pariatur quasi et quam. Facilis nam porro amet nostrum. In assumenda quia quae a id praesentium. Quos deleniti libero sed occaecati aut porro autem. Consectetur sed excepturi sint non placeat quia repellat incidunt labore. Autem facilis hic dolorum dolores vel.
                    Consectetur quasi id et optio praesentium aut asperiores eaque aut. Explicabo omnis quibusdam esse. Ex libero illum iusto totam et ut aut blanditiis. Veritatis numquam ut illum ut a quam vitae.
                  </p>
                  <p>
                    Alias quia non aliquid. Eos et ea velit. Voluptatem maxime enim omnis ipsa voluptas incidunt. Nulla sit eaque mollitia nisi asperiores est veniam.
                  </p>-->
  
                </div><!-- End post content -->
  
                
  
             
          </div>
  

          <div class="col-lg-12" style="margin-top: 0px;">
                
            

            <p class="align">
                 Leonard sits on several Board of Directors in both private and public companies and in most of them he is involved in or leads the audit and risk committee. Previously Leonard worked for UNDP, PricewaterhouseCoopers, Afro Aid Development Consultants, Coopers and Lybrand and the University of Dar es Salaam. Most of his work have been carried out in Tanzania, Rwanda, Kenya, Uganda, Burundi, and Southern Sudan. He speaks Kiswahili and English.
            </p>
            

          </div>

        </div>
      </section>


   
     

  </main><!-- End #main -->
</Layout>