---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ADC Team details">
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/team/laugh.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Team Details</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Team Details</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Details Section ======= -->
    
      <section id="team-2" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row g-5">
  
            <div class="col-lg-8">
  
              <article class="team-details">
  
                
  
                <div class="meta-top">
                  <h2>REBECCA RUZIBUKA</h2>
                  <p><h4>Chairperson</h4></p>
                </div><!-- End meta top -->
  
                <div class="content">
                  <p class="align">
                    Rebecca Ruzibuka is a Director of ADC Tanzania Ltd. She has accumulated more than 35 years of experience working in Tanzania and Rwanda in academics and as a Consultant in areas of Business Development Services (BDS). Presently Rebecca is involved in the implementation of the USADF- Rwanda Program as a Program Director of the partner organization -Africa Development Consultant Ltd.
                  </p>
  
                  
  
                 <!--- <blockquote>
                    <p>
                      Et vero doloremque tempore voluptatem ratione vel aut. Deleniti sunt animi aut. Aut eos aliquam doloribus minus autem quos.
                    </p>
                  </blockquote> -->
  
                  <p class="align">

                    Her other recent accomplishments include Lead Consultant for “Business Planning on behalf of the Post-Harvest and Agribusiness Support Project (PASP), “Develop Business Plans on behalf of NAEB/PRICE Project Beneficiaries for easy access to Financial Services both projects funded by IFAD through Rwanda Ministry of Agriculture, “Cooperative Business Management Capacity Building Training Program for the Rwanda National - Agricultural Export Development Board (NAEB)” funded by IFC. She conducted the Organizational Capacity Assessment and facilitated the 3 Rwanda SMEs funded by the Global Alliance for Improved Nutrition (GAIN) in business modelling and developed a 5 year Business Plan (October 2018 – February 2019). She also provided Technical Assistance to SMEs supported in Rwanda and Tanzania by the  Aceli Africa Inc.
                    Rebecca’s experience in academics include a Lecturer of Business Management and Materials management subjects at the Institute of Development Management (IDM) now Mzumbe University (1991-2001), Head of Entrepreneurship Depart and Senior Lecturer of Business Management subjects.
                    Also, she was a Manager of the University Technology and Business Incubation Facility at Kigali Institute of Science and Technology (KIS) now part of the University of Rwanda.
                  </p>
                  
  
                <!--  
                  <h3>Et quae iure vel ut odit alias.</h3>
                  <p>
                    Officiis animi maxime nulla quo et harum eum quis a. Sit hic in qui quos fugit ut rerum atque. Optio provident dolores atque voluptatem rem excepturi molestiae qui. Voluptatem laborum omnis ullam quibusdam perspiciatis nulla nostrum. Voluptatum est libero eum nesciunt aliquid qui.
                    Quia et suscipit non sequi. Maxime sed odit. Beatae nesciunt nesciunt accusamus quia aut ratione aspernatur dolor. Sint harum eveniet dicta exercitationem minima. Exercitationem omnis asperiores natus aperiam dolor consequatur id ex sed. Quibusdam rerum dolores sint consequatur quidem ea.
                    Beatae minima sunt libero soluta sapiente in rem assumenda. Et qui odit voluptatem. Cum quibusdam voluptatem voluptatem accusamus mollitia aut atque aut.
                  </p>
                  <img src="assets/img/blog/blog-inside-post.jpg" class="img-fluid" alt="">
  
                  <h3>Ut repellat blanditiis est dolore sunt dolorum quae.</h3>
                  <p>
                    Rerum ea est assumenda pariatur quasi et quam. Facilis nam porro amet nostrum. In assumenda quia quae a id praesentium. Quos deleniti libero sed occaecati aut porro autem. Consectetur sed excepturi sint non placeat quia repellat incidunt labore. Autem facilis hic dolorum dolores vel.
                    Consectetur quasi id et optio praesentium aut asperiores eaque aut. Explicabo omnis quibusdam esse. Ex libero illum iusto totam et ut aut blanditiis. Veritatis numquam ut illum ut a quam vitae.
                  </p>
                  <p>
                    Alias quia non aliquid. Eos et ea velit. Voluptatem maxime enim omnis ipsa voluptas incidunt. Nulla sit eaque mollitia nisi asperiores est veniam.
                  </p>-->
  
                </div><!-- End post content -->
  
                
  
             
          </div>

          <div class="col-lg-4">     
                   <div class="post-img">
              <img src="assets/img/blog/rebecca.jpg" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-12" style="margin-top: 0px;">
            <p class="align">
              Rebecca is a Certified Performance Technologist (CPT) offered by the International Society for Performance Improvement (ISPI) of USA. She possesses a Master of Business Administration (MBA) from Emporia State University, Kansas, USA, 1996; Advanced Diploma in Business Administration (ADBA) from IDM, Tanzania. She is also a Certified Supplies Professional (CSP) offered by the Tanzania Board of Materials Management. Rebecca was also the Marketing Manager of the Morogoro Leather Goods Company Ltd in Tanzania (1985- 1991).
            </p>

          </div>
  
        </div>
      </section>


 
  </main><!-- End #main -->
</Layout>