---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Service Details">
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url(assets/img/hero-carousel/hero-carousel-3.jpg);">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Service Details</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Services </li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Service Details Section ======= -->
    <section id="service-details" class="service-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="services-list">
              <a href="#service-details" class="active">Capacity Building</a>
              <a href="#consultancy">Consultancy Services</a>
              <a href="#outsourcing">Outsourcing Services</a>
              <a href="#digitalization">Digitalization</a>

             
            </div>

            <h4>Capacity Building</h4>
            <p class="align">
              ADC Team is composed of seasoned bankers  and training experts who have worked in the Bank of Tanzania, commercial banks, development financial and microfinance institutions. Our approach to training and development is through both one on one and virtual sessions. Under virtual training, ADC is in partnership with its associates that have well-structured e-learning platforms.
            </p>
          </div>

          <div class="col-lg-8">
            <img src="assets/img/services/capacity.jpg" alt="" class="img-fluid services-img">
            
        
            
          </div>

        </div>



        <div class="row gy-4">


          

          <div class="col-lg-12">
           
            
            <p class="align"> ADC tailors versatile on-demand programs, rather than one-size-fits-all by  conducting capability need assessment before customizing a specific program to suite specific needs of institution. Through our team of expertrs ADC is capable of building capacity in  the areas of ;
            
</p>

 <ul>
   <li><i class="bi bi-arrow-right-circle-fill"></i> <span> <strong>Strategy & performance</strong>  </span></li>
              
              <p class="align">
                ADC believes that strategy is key for the success of any organisation. In view of this, it has built experienced experts who have participated in developing strategies for big, mid-size and small organisations in the financial sector which have led into successful performance. Such experts can provide comprehensive training on how to develop strategy and performance management systems.
              </p>
            


              <span id="dots">...</span><span id="more">



              

            

              <li><i class="bi bi-arrow-right-circle-fill"></i> <span> <strong>Board Governance and Leadership</strong>	  </span> </li>

              <p class="align">
                Leadership in any organisation is critical to give direction of where it should go and what it aims to achieve. The Board has ultimate responsibility in governing of the institution and management is responsible for day to day running of organisation.  ADC has a well-designed programme that provides leadership skills to both board members and management at different levels from supervisory level to senior management.
              </p>


              <li><i class="bi bi-arrow-right-circle-fill"></i> <span><strong>Risk Management & Environmental and Social Governance</strong>	</span></li>

              <p class="align">
                Risk management is critical for any bank and financial institution to achieve a balancing act between business growth and inherent risks. ADC has a pool of experienced risk managers who have provided risk management trainings in various areas including enterprise risk management frameworks, credit risk analysis, risk measurement tools, mitigation options, etc.
              </p>
              

              <li><i class="bi bi-arrow-right-circle-fill"></i> <span><strong>Project Management</strong></span></li>

                <p class="align">
                  ADC has built skills in project management for both IT and non-IT projects. Such team of experts who have undergone certification and practicing of PMP, Prince2 methodologies and agile framework can provide capacity building in this area.
                </p>
                

                <li><i class="bi bi-arrow-right-circle-fill"></i> <span><strong>Problem Loan Management</strong></span></li>
                  <p class="align">
                    ADC through its experts have strong experience in problem loan management and has collaborated with a partner who has developed a programme for problem loan management that can be delivered through classroom and e-learning platform. 
                  </p>
                  

                  <li><i class="bi bi-arrow-right-circle-fill"></i> <span><strong>Talent Acquisition & Management</strong></span></li>

                    <p class="align">
                      ADC has strong HR experts internally and works with various associates who are experts in the areas of human capital and have worked in big organisations that have well designed talent management framework and policies. ADC can provide training in designing the framework and policies that govern organisation in talent acquisition, motivation, and retention to ensure attraction of strong talents in the organisation.
                    </p>
                    

                    <li><i class="bi bi-arrow-right-circle-fill"></i> <span><strong>Mentorship & Coaching</strong></span></li>
                      <p class="align">
                        Through similar experience in talent management, ADC is well positioned to provide mentorship and coaching to various staff from the top leader-CEO to other key positions that are critical for successful performance and running of a business.
                      </p>
                      

                      <li><i class="bi bi-arrow-right-circle-fill"></i> <span><strong>Cybersecurity</strong></span></li>

                        <p class="align">
                          Cybersecurity has become an important subject for any organisation due to increased usage of technology. It is therefore important to acquire necessary skills not only for technical team but even for decision makers to appreciate the need to invest in IT security. ADC through its pool of expertise is capable of delivering such training to all levels within the organization.
                        </p>
                        

                        <li><i class="bi bi-arrow-right-circle-fill"></i> <span><strong>Financial Analysis</strong></span></li>

                          <p class="align">
                            To improve in decision making, information is power. However, such information needs to be properly interpretated to give a meaningful presentation of the situation and guide users of such information to make the right decision. ADC has capability to provide financial analysis training from the foundation level to advanced level in areas of credit, business performance, product analysis, etc.
                          </p>
                          

                          <li><i class="bi bi-arrow-right-circle-fill"></i> <span><strong>Training Programme for MSMEs</strong></span></li>
                            <p class="align">
                              Many businesses especially for small companies suffer from inadequate experience in running such business. This is mainly contributed by lack of entrepreneurship skills as most businessesare established by people who have not been privileged to undergo capacity building in such areas. As ADC supports MSMEs, it has a well-developed specific training toolkit for MSMEs that aim to provide them with necessary skills such as business plan development, management and governance, financial management and record keeping, sales and marketing and risk management. This training toolkit can be customized and tailored to meet different needs in different sectors.
                            </p>
                            <p class="align">
                              ADC builds capacity of SMEs and Cooperative Societies to think and act in new ways of doing business and realize value. In addition, ADC uses coaching as a technique of enabling executives to manage organizations sustainably. ADC works with development partners or Government in supporting this segment to gain necessary skills for sustainable growth of their businesses.
                            </p>

                          </span>

                          <button onclick="myFunction()" id="myBtn" class="myBtn" >Read more</button>
                          <style>


                          </style>

<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}

</script>
                            

            </ul>
            
            
          </div>

        </div>



      </div>
    </section><!-- End Service Details Section -->

    <section id="consultancy" class="service-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="services-list">
              <a href="#service-details" >Capacity Building</a>
              <a href="#consultancy" class="active" >Consultancy Services</a>
              <a href="#outsourcing">Outsourcing Services</a>
              <a href="#digitalization" class="" >Digitalization</a>

             
            </div>

            <h4>Consultancy Services</h4>
            <p class="align">
              Having a team of experts who have been involved in various assignments within their former employers and provision of consultancy services in various areas, ADC is capable of providing consultancy services to businesses- MSMEs, banks and financial institutions.         Consultancy services can be provided in the following areas:

            </p>
            <ul>
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span><strong>Business Plan and Strategy Development</strong></span></li>
            </ul>        
                         
          </div>

          <div class="col-lg-8">
            <img src="assets/img/services/consultancy.jpg" alt="" class="img-fluid services-img">
            
        
            
          </div>

        </div>



        <div class="row gy-4">


          

          <div class="col-lg-12">
                        
      
<p class="align">
  Any business plan or strategy is supported by well-defined implementation plan and performance management system for tracking of execution and periodical deliverables that will contribute towards achieving the intended objectives at the end of the strategy period. Our experts work with the client to develop the strategy, prepare implementation plan and how it will be cascaded to lower levels for execution with periodic KPIs that will help achieving the strategic goals. 

              </p>
<p class="align">
  This service is also extended to the companies that are under distress and would like to turnaround and address issues that affect performance. This can be done after conducting a due diligence of such company and come up with Turnaround Strategy.

</p>            
            
<ul>
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span>	<strong>Resource Mobilisation</strong>  </span> </li>

              <p class="align">
                ADC has built expertise in resource mobilisation for specific development project/programme and for a bank or financial institution that aims to raise funds to support its execution of strategy.
              </p>

            </ul>
            
            
          </div>

        </div>



      </div>
    </section>


    <section id="outsourcing" class="service-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="services-list">
              <a href="#service-details" >Capacity Building</a>
              <a href="#consultancy">Consultancy Services</a>
              <a href="#outsourcing" class="active" >Outsourcing Services</a>
              <a href="#digitalization" class="" >Digitalization</a>

            </div>

            <h4>Outsourcing Services</h4>
            <p class="align">
              Many companies now opt for outsourcing of some activities to reduce costs. This is done for non-core activities to companies that have built competency to provide such services at lower costs due to economies of scale. The benefit of outsourcing service is realised through change of some costs from fixed to variable and thus paying for only what the company has spent and create efficiency through team of experts from the outsourcing company. ADC provides outsourcing services in the areas of
            </p>
          </div>

          <div class="col-lg-8">
            <img src="assets/img/services/outsourcing.jpg" alt="" class="img-fluid services-img">
            
        
            
          </div>

        </div>



        <div class="row gy-4">


          

          <div class="col-lg-12">
            
           
            

 <ul>
   <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Payroll Management</span></li>
              
       
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span>	Fund Management  </span> </li>

              <li><i class="bi bi-arrow-right-circle-fill"></i> <span>	Project Management</span></li>

              
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Transaction Processing</span></li>
          

                <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Management of problem loans</span></li>
                                   

                  <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Sales & Marketing</span></li>

                    <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Research & Surveys</span></li>
                      
                      

                      <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Accounting & Financial Management</span></li>

                       
                        <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Tax Administration</span></li>

                        

            </ul>
            
            
          </div>

        </div>



      </div>
    </section>



    <section id="digitalization" class="service-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="services-list">
              <a href="#service-details" >Capacity Building</a>
              <a href="#consultancy">Consultancy Services</a>
              <a href="#outsourcing" class="" >Outsourcing Services</a>
              <a href="#digitalization" class="active" >Digitalization</a>
             
            </div>

            <h4>Digitalization</h4>
            <p class="align">
              Currently, many companies are looking to transform to new ways of working through digitalization which not only reduce costs but increases efficiency. Provision of services to clients is done through digital means which creates convenience and speed of service delivery. ADC is capable of delivering the following :-
            </p>
          </div>

          <div class="col-lg-8">
            <img src="assets/img/services/digitillization.jpg" alt="" class="img-fluid services-img">
            
        
            
          </div>

        </div>



        <div class="row gy-4">


          <div class="col-lg-12">

            <ul>
              
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span>End to end digitalized credit process to improve turnaround time (TAT)</span></li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span>End to end organization workflow (paperless)</span></li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Service delivery through mobile applications, online 
                banking, and agency banking</span></li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Digital tool for monitoring stocks, farming activities, 
                performance tracking, etc</span></li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span> Digitalized Transaction processing to reduce head count and improve 
                TAT</span></li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Enterprise risk management system</span></li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Collection systems</span></li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Predictive models</span></li>
              <li><i class="bi bi-arrow-right-circle-fill"></i> <span>Analytical tools</span></li>
            </ul>
       





         <section id="features" class="features section-bg">
          <div class="section-header">
            <h2>Innovative Solutions</h2>
          </div>
    
          <div class="container" data-aos="fade-up">
            
            <ul class="nav nav-tabs row  g-2 d-flex">
    
              <li class="nav-item col-2">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                  <h4>NextGen Credit</h4>
                </a>
              </li><!-- End tab nav item -->
    
              <li class="nav-item col-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                  <h4>NextGen Workflow </h4>
                </a><!-- End tab nav item -->
    
              <li class="nav-item col-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                  <h4>NextGen Omi</h4>
                </a>
              </li><!-- End tab nav item -->
    
              <li class="nav-item col-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                  <h4>Nextgen-BI</h4>
                </a>
              </li><!-- End tab nav item -->
    
              <li class="nav-item col-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-5">
                  <h4>Stress Testing Model</h4>
                </a>
              </li><!-- End tab nav item -->


              <li class="nav-item col-2">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-6">
                  <h4>Balanced Scorecard</h4>
                </a>
              </li><!-- End tab nav item -->

            </ul>
    
            <div class="tab-content">
    
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <p class="align">

                      This is end to end digitalized processes from credit origination to recovery. The platform can be integrated to mobile App, internet banking and website for online application by the customer. It can also integrated to credit scoring system, credit reference bureau and other third -party systems that provide information necessary for credit appraisal. It has a reporting engine that is tailored to the need of a bank or financial institution. The platform can be tailored to meet the process flow of our client including all checks and balances.  Some of the modules available in the system are
                    </p>
                    <ul>
                      <li><i class="bi bi-arrow-right-short"></i>Document Scanning </li>
                      <li><i class="bi bi-arrow-right-short"></i>Credit appraisal engine </li>
                      <li><i class="bi bi-arrow-right-short"></i>Credit Scoring Model </li>
                      <li><i class="bi bi-arrow-right-short"></i>credit approval mandate </li>
                      <li><i class="bi bi-arrow-right-short"></i>Early warning model</li>
                      <li><i class="bi bi-arrow-right-short"></i>Loan management</li>
                      <li><i class="bi bi-arrow-right-short"></i>Report engine</li>
                      <li><i class="bi bi-arrow-right-short"></i>End to end digital process flow</li>
    
                     </ul>
                  </div>
                <!-- <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                    <img src="assets/img/features-1.jpg" alt="" class="img-fluid">
                  </div>--> 
                </div>
              </div><!-- End tab content item -->
    
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                   <p class="align">

                    NextGen Workflow brings you to a paperless world through automation of your workflow end to end where you can realize efficiency and cost savings. The system is flexible to accommodate your manual workflow and digitize it. The key functions available in the platform are  
                   </p>                 
                    <ul>
                      <li><i class="bi bi-arrow-right-short"></i>Document scanning
                      </li>
                      <li><i class="bi bi-arrow-right-short"></i>End to end digital process flow
                      </li>
                      <li><i class="bi bi-arrow-right-short"></i> Internal Correspondences
                      </li>
                      <li><i class="bi bi-arrow-right-short"></i>Approval workflow

                      </li>
                      <li><i class="bi bi-arrow-right-short"></i>Document archiving

                      </li>
                      <li><i class="bi bi-arrow-right-short"></i> Account opening
                      </li>
                      <li><i class="bi bi-arrow-right-short"></i>Fund transfer
                      </li>
                      <li><i class="bi bi-arrow-right-short"></i>Report engine

                      </li>    
                      
                      
                    </ul>
                  </div>
                  
                </div>
              </div><!-- End tab content item -->
    
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                    <p class="align">
                      NextGen Omni provides seamless solution for customers to do financial transactions. This includes digital channels such as mobile, agency and online.


                    </p>
                    <ul>
                      <li><i class="bi bi-arrow-right-short"></i>Mobile </li>
                      <li><i class="bi bi-arrow-right-short"></i>Online</li>
                      <li><i class="bi bi-arrow-right-short"></i>Agency</li>
                      
    
    
                    </ul>
                    
                  </div>
                 
                </div>
              </div><!-- End tab content item -->
    
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                    <p class="align">

                      Nextgen-BI is the real time KPI tracking & reporting system for budget monitoring, cashflow movements tracking & work plan management for all kinds of multi-regional entities / groups. The solution offers 3 main components
                    </p>
                    <ul>
                      <li><i class="bi bi-arrow-right-short"></i>Web services & API gateway - Nextgen-BI web service </li>
                      <li><i class="bi bi-arrow-right-short"></i>   Mobile application - Nextgen-BI app</li>
                      <li><i class="bi bi-arrow-right-short"></i> Web application - Nextgen-BI web app </li>
                      
    
    
                    </ul>
                    
                  </div>
                  
                </div>
              </div><!-- End tab content item -->


              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                    <p class="align">
                      Understanding the need of the banking sector where banks are expected to perform stress testing to measure each individual bank/financial institution's resilience to shocks , ADC has developed a stress testing model. This model is friendly and can be customized to align with data structure of an institution and give results that will assist an institution to determine its vulnerability and level of resilience to shocks. ADC can also design a simple dashboard that will present results of the stress testing and the same can be tailored to the needs of the institution's board and management. To ensure consistency in running the stress testing periodically, ADC provides hands-on training to users of the institution.

                    </p>
                   
                  </div>
                 
                </div>
              </div><!-- End tab content item -->
                  <div class="tab-pane" id="tab-6">
                    <div class="row">
                      <div class="col-lg-12 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                        <p class="align">
                          ADC is capable of developing a tailor made balanced scorecard that can assist a company in defining and tracking strategic management performance metrics. A data driven balanced scorecard helps companies identify and improve their performance. It is a good tool for measuring past performance data and provides organizations with feedback on how to make better decisions in the future.
                        </p> 
                      </div>
                    </div>
                  </div><!-- End tab content item -->
          </div>
        </div>
      </section><!-- End Features Section -->
      </div>     
      </div>
      </div>
     


  </main><!-- End #main -->
</Layout>
