---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Team">
  <main id="main">
    <div
      class="breadcrumbs d-flex align-items-center"
      style="background-image: url('assets/img/hero-carousel/hero-carousel-3.jpg');"
    >
      <div
        class="container position-relative d-flex flex-column align-items-center"
        data-aos="fade"
      >
        <h2>Our Team</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>Our Team</li>
        </ol>
      </div>
    </div>

    <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>OUR TEAM</h2>
          <p>
            ADC is composed of well experienced team in the areas of banking,
            risk management, strategy formulation, project management,
            governance, leadership, audit, business development specifically
            SMEs, research and development, IT, business analytics, sales and
            marketing, agribusiness value chain, economics, and finance.
          </p>
        </div>
        <div class="section-header">
          <h2>Board of Directors</h2>
        </div>
      </div>
    </section>

    <section>
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <article class="card-vm">
            <img
              class="card__background"
              src="assets/img/team/team-2.jpg"
              alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
              width="1920"
              height="2193"
            />
            <div class="card__content | flow">
              <div class="card__content--container | flow">
                <div class="card_content">
                  <h2 class="card_title">Chairperson</h2>
                </div>
                <a href="rebecca"> <h2 class="card__title">Rebecca Ruzibuka</h2> </a>
                <p class="align">
                  Rebecca Ruzibuka is a Director of ADC Tanzania Ltd. She has
                  accumulated more than 35 years of experience working in
                  Tanzania and  ....
                  <!-- <a href="rebecca" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>  -->
                </p>
              </div>
              <!-- <a href="rebecca">
                <button class="card__button"> Read more</button>
              </a> -->
              <!-- <div class="card__button tooltip" onmouseover="showToolTip()">
                Hover over me
              </div> -->
            </div>
          </article>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <article class="card-vm">
            <img
              class="card__background"
              src="assets/img/team/team-1.jpg"
              alt=""
              width="1920"
              height="2193"
            />
            <div class="card__content | flow">
              <div class="card__content--container | flow">
                <div class="card_content">
                  <h2 class="card_title">Executive Director</h2>
                </div>
                <a href="esther"><h2 class="card__title">Esther Kitoka</h2></a>
                <p class="align">
                  Esther is a seasoned banker having worked in the banking
                  sector as Bank Examiner for 9 years in the Bank of Tanzania
                  (Central Bank) and later as ....
                  <!-- <a href="rebecca" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>  -->
                </p>
              </div>
              
                <!-- <button class="card__button"> Read more</button> -->
             
            </div>
          </article>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <article class="card-vm">
            <img
              class="card__background"
              src="assets/img/team/team-3.jpg"
              alt=""
              width="1920"
              height="2193"
            />
            <div class="card__content | flow">
              <div class="card__content--container | flow">
                <div class="card_content">
                  <h2 class="card_title">Director</h2>
                </div>
                <a href="leornard"> <h2 class="card__title">Leonard Kitoka</h2></a>
                <p class="align">
                  Leonard is the Director of ADC Tanzania Ltd, and currently
                  Programme Director for the implementation of the USADF
                  Programme in Tanzania  ....
                  <!-- <a href="rebecca" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>  -->
                </p>
              </div>
            </div>
          </article>
        </div>

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <article class="card-vm">
            <img
              class="card__background"
              src="assets/img/team/devotha.jpg"
              alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
              width="1900"
              height="2100"
            />
            <div class="card__content | flow">
              <div class="card__content--container | flow">
                <div class="card_content">
                  <h2 class="card_title">Director</h2>
                </div>
                <a href="devotha"> <h2 class="card__title">Devotha Minzi</h2> </a>
                <p class="align">
                  Mrs. Devotha Ntuke Minzi is a director of ADC Tanzania
                  Limited. Devotha possesses a Master’s Degree in Economics,
                  from  ....
                  <!-- <a href="rebecca" class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>  -->
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section>
      <div class="main">
        <div class="section-header">
          <h2>Management Team</h2>
        </div>
        <ul class="cards">
          <li class="cards_item">
            <div class="card" tabindex="1">
              <div class="card_image">
                <img
                  src="assets/img/blog/eileen.jpg"
                  alt="a Reuben sandwich on wax paper. "
                />
              </div>
              <div class="card_content">
                <h2 class="card_title">EILEEN MWAKISESE</h2>
                <div class="card_text">
                  <p class="upcharge">USADF Program Manager</p>
                  <p>
                    Eileen Asukile Mwakisese is the USADF Program Manager for
                    ADC Tanzania. She possesses a Master of Science in
                    Accounting and Finance(2019) from Mzumbe University, a
                    Bachelor of Economics and Finance (2014) from the Institute
                    of Accountancy Arusha (IAA) and a Diploma in French
                    language, DELF A1, Alliance Française Dar es Salaam (2011).
                    She is highly competent in using QuickBooks, KPI, Ms Office,
                    SPSS, Gisel,PPI and OCA.
                  </p>
                  <p>
                    Eileen holds qualifications and experiences of 8 years in
                    Financial Management, Grants Management, Technology Fund
                    Management, and Commercial micro-lending. She possesses
                    extensive capability in Accounting for Projects, Project
                    Monitoring and Evaluation, Administration and managing
                    client relationships. Eileen has experience in working with
                    marginalized groups after working for years to improve the
                    livelihoods of the underserved communities in Tanzania. She
                    is fluent in English and Swahili, and basic French. She has
                    a passion for reading and travelling.
                  </p>
                  <!-- <span><a href="#"><i class="bi bi-linkedin"></i></a></span> -->
                  <a
                    href="https://www.linkedin.com/in/eileen-m-510799a2/"
                    class="readmore stretched-link"
                    ><span>View More</span>
                    <span class="icons"><i class="bi bi-linkedin"></i></span></a
                  >
                </div>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card" tabindex="2">
              <div class="card_image">
                <img
                  src="assets/img/blog/husna.jpg"
                  alt="a Reuben sandwich on wax paper. "
                />
              </div>
              <div class="card_content">
                <h2 class="card_title">HUSNA MKONY</h2>
                <div class="card_text">
                  <p class="upcharge">Finance officer</p>
                  <p>
                    Husna Swalehe Mkony is ADC Tanzania Finance Officer. She
                    possesses a Bachelor degree in Accounting and Finance (2012)
                    from the Mzumbe University in Tanzania. She is a member of
                    National Board of Accountants and Auditors (NBAA), currently
                    pursuing her final CPA examinations. Husna is a high-end
                    user of a number of accounting software that include
                    QuickBooks, Tally ERP 9, MYOB, SAGE PASTEL. She has more
                    than seven years of work experience in accounting and
                    financial management functions. Husna is conversant with
                    Tanzanian life by living and working in various places in
                    the country and she is conversant in both Kiswahili and
                    English.
                  </p>
                  <a
                    href="https://tz.linkedin.com/in/husna-swalehe-mkony-a03b7b94/"
                    class="readmore stretched-link"
                    ><span>View More</span>
                    <span class="icons"><i class="bi bi-linkedin"></i></span></a
                  >
                </div>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card" tabindex="3">
              <div class="card_image">
                <img
                  src="assets/img/blog/adolph.jpg"
                  alt="a Reuben sandwich on wax paper. "
                />
              </div>
              <div class="card_content">
                <h2 class="card_title">ADOLPH SAKAWA</h2>
                <div class="card_text">
                  <p class="upcharge">Business Development Officer</p>
                  <p>
                    Adolph is the Business Development Officer of ADC Tanzania,
                    He holds a BSc Agronomy from SUA and Postgrad Diploma in
                    Agriculture from Israel. On top of that he has a number of
                    courses under his belt namely Accessing Halal Markets,
                    Advocacy and Trade Reforms, Introduction to Resources
                    Efficiency and Circular Production and Introduction to
                    Corporate Social Responsibility. In addition to those he
                    also did courses on Developing Sustainable Business Models
                    for Business Support Organizations and Meeting Standards in
                    the Agriculture Food Sector.
                  </p>
                  <p>
                    He also attended Project Risk Management from ESAMI
                    University and Strategic Management from Copenhagen Business
                    School.
                  </p>
                  <p>
                    Adolph has a breadth of knowledge and expertise in
                    Agriculture related capacity building and sustainable
                    Agriculture. He has a deep understanding on the challenges
                    faced by SME’s particularly in the Agriculture sector. When
                    he’s not glued with SME’s, he enjoys anything outdoorsy and
                    active. He’s fluent in English and Swahili and elementary
                    Hebrew.
                  </p>
                  <a
                    href="https://www.linkedin.com/in/adolph-sakawa-b489a1243/"
                    class="readmore stretched-link"
                    ><span>View More</span>
                    <span class="icons"><i class="bi bi-linkedin"></i></span></a
                  >
                </div>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card" tabindex="4">
              <div class="card_image">
                <img
                  src="assets/img/blog/emilia.jpg"
                  alt="a Reuben sandwich on wax paper. "
                />
              </div>
              <div class="card_content">
                <h2 class="card_title">EMILIA MAGEHEMA</h2>
                <div class="card_text">
                  <p class="upcharge">Administration Officer</p>

                  <p>
                    Emilia Magehema is an administrative officer at ADC Tanzania
                    and responsible for overseeing the United States African
                    Development Foundation (USADF) administrative operations of
                    the country program. She has a background in Economics,
                    Finance and Investment with extra skills of sales and
                    marketing. For 5 years now, Emilia has demonstrated
                    effective business communication, planning and projects
                    management especially in the areas of Agriculture.
                  </p>
                  <a
                    href="https://www.linkedin.com/in/emilia-ernest-magehema-msc-finance-and-investment-b5292b180/"
                    class="readmore stretched-link"
                    ><span>View More</span>
                    <span class="icons"><i class="bi bi-linkedin"></i></span></a
                  >
                </div>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card" tabindex="5">
              <div class="card_image">
                <img
                  src="assets/img/blog/albert.jpg"
                  alt="a Reuben sandwich on wax paper. "
                />
              </div>
              <div class="card_content">
                <h2 class="card_title">CYLIRUS ALBERT KAIJAGE</h2>
                <div class="card_text">
                  <p class="upcharge">Business Development Officer</p>
                  <p>
                    Cylirus Albert Kaijage is the Business Development Officer
                    at ADC Tanzania. He possesses a Master of Science Data
                    Science (2022) from the University of Dar-es-Salaam, a
                    Bachelor of Science in Applied Statistics (2019) from Mzumbe
                    University. He is highly competent in Python Programming,
                    R-programming, STATA, SPSS, MS Office, CAPI, and Kobo
                    toolbox.
                  </p>
                  <p>
                    Cylirus holds qualifications and experience of more than 2
                    years in Data analytics, Research, field works, Monitoring
                    and evaluation and project management. He possesses
                    extensive capability in building machine learning and
                    statistical learning models, substantial knowledge, and
                    expertise in agri-business value chains, Cylirus has
                    experience in working with various agriculture stakeholders
                    including banks. He is fluent in English, Swahili and
                    pre-liminary Latin. Apart from his career Cylirus is a
                    bibliophile, Organist, Sacred Music Composer, and loves to
                    travel.
                  </p>
                  <a
                    href="https://www.linkedin.com/in/cylirus-albert-kaijage-199b75165/"
                    class="readmore stretched-link"
                    ><span>View More</span>
                    <span class="icons"><i class="bi bi-linkedin"></i></span></a
                  >
                </div>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card" tabindex="6">
              <div class="card_image">
                <img
                  src="assets/img/blog/walter.jpg"
                  alt="a Reuben sandwich on wax paper. "
                />
              </div>
              <div class="card_content">
                <h2 class="card_title">WALTER PATRICK</h2>
                <div class="card_text">
                  <p class="upcharge">Business Development Officer.</p>
                  <p>
                    Walter is a highly skilled and versatile professional with a
                    strong background in Information Technology and Business
                    Development. As a Business Development Officer at ADC
                    Tanzania, he plays a pivotal role in driving growth and
                    fostering strategic partnerships.
                  </p>
                  <p>
                    With a passion for software development and system design,
                    Walter excels in creating innovative solutions to address
                    complex business challenges. His proficiency extends across
                    a wide range of programming languages, including Python,
                    HTML, JavaScript, Node.js, React.js, Next.js, Flutter, PHP,
                    and RESTful API development. He has an in-depth
                    understanding of front-end and back-end technologies,
                    allowing him to develop robust and scalable software
                    applications that meet the specific needs of his clients.
                  </p>
                  <p>
                    Walter's technical expertise also extends to data analysis
                    and financial modeling. He possesses a strong command of
                    languages such as R and Python, enabling him to leverage
                    advanced statistical techniques and machine learning
                    algorithms for data-driven insights. His ability to extract
                    meaningful information from complex datasets has empowered
                    organizations to make informed decisions and optimize their
                    operations. In addition, he has hands-on experience with
                    tools like AppSheet, Ms power BI, Tableau which he has utilized to build
                    intuitive and user-friendly data visualization dashboards.
                  </p>
                  <a
                    href="https://www.linkedin.com/in/walter-patrick-4599161b4"
                    class="readmore stretched-link"
                    ><span>View More</span>
                    <span class="icons"><i class="bi bi-linkedin"></i></span></a
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </main><!-- End #main -->
  <script>
    function showToolTip() {
      alert("helo");
    }
  </script>
</Layout>

<style>
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
</style>
