<footer id="footer" class="footer">
  <div class="footer-content position-relative">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">
            <h3>ADC Tanzania</h3>
            <p>
              8 Kilimani Road, <br>
              ADA Estate<br>
              
           14110 kinondoni <br><br>
              <strong>Phone</strong>&nbsp;&nbsp; +255 222 664 099<br>
              <strong>Email</strong> &nbsp; info@adctanzania.co.tz<br>
              <strong>Website</strong> &nbsp; www.adctanzania.co.tz<br>

            </p>
            
          </div>
        </div><!-- End footer info column-->

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="about">About us</a></li>
            <!-- <li><a href="services">Services</a></li> -->
            
          </ul>
        </div><!-- End footer links column-->

        
        <div class="col-lg-4 col-md-4">
          
            
          <div class="social-links d-flex mt-3">
            <a href="https://www.instagram.com/adctanzania/" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/adc-tanzania" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
            <a href="https://www.youtube.com/watch?v=tcJm2DIgNcE&list=PLJpkv7Cc0fODRnoFLNJfV0BjOLB18Wx5I&ab_channel=ADCTanzania" class="d-flex align-items-center justify-content-center"><i class="bi bi-youtube"></i></a>
          </div>
        </div>
        

      </div>


    </div>
  </div>

  <div class="footer-legal text-center position-relative">
    <div class="container">
      <div class="copyright">
        Copyright   &copy;<script>document.write(new Date().getFullYear());</script>  <strong><span>ADC</span></strong>. All Rights Reserved
      </div>
    <!--  <div class="credits">
        
        Designed by <a href="https://www.linkedin.com/in/walter-patrick-4599161b4">Walter Patrick</a> &nbsp;<a href="https://www.linkedin.com/in/walter-patrick-4599161b4"><i class="bi bi-linkedin"></i></a> 
      </div> -->
    </div>
  </div>

</footer>
